<!DOCTYPE html>
<html>
<head>
  <title>lnbits example</title>
</head>
<body>
<div align='center' style="max-width: 800px; margin: 0 auto;">

{% for message in get_flashed_messages() %}
  <div onclick="this.style.display='none'" style="background-color:#cccccc;">{{ message }}</div>
{% endfor %}

<h1 id='header'>lnbits example</h1><hr/>
<script>
function showWaitMessage(){
  document.getElementById('header').innerText = "connecting, please wait...";
}
</script>

{% if page=="lightning" %}

  <h2>Pay</h2>
  <form action="/lnbits/invoice" method = "GET" onsubmit="showWaitMessage()">
    <input type="text" name="memo" placeholder="item description" /><br/>
    <input type="number" name="sats" placeholder="satoshis" value="" required /><br/>
    <input type="submit" value="create invoice" />
  </form>
  
  <hr/>
  
  <h2>Withdraw</h2>
  <form action="/lnbits/withdraw" method="GET" onsubmit="showWaitMessage()">
  <textarea placeholder="lnb1234567890abcdefghiklmnopqrstuv1234567890abcdefghiklmnopqrstuvwxyz"
   name="withdrawbolt11" required ></textarea><br/>
  <input type="submit" value="pay invoice" />
  </form>
  
{% endif %}

{% if page=="pay" %}

  <a onclick="showWaitMessage()" href="/lnbits/verify"><b>Click here after paying</b><a/>
  <br/>{{ session["invoice"]["sats"] }} satoshis for {{ session["invoice"]["memo"] }}
  
  <div id="bolt11qr" onclick="location.href='lightning:'+bolt11" style="background-color:white; width:350px; height:350px; border:solid 1px black; padding:20px; margin:20px;"></div>
  <textarea id="bolt11txt"></textarea><br/><br/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js" attrib="https://davidshimjs.github.io/qrcodejs/"></script>
  <script type="text/javascript">
  window.onload = function() {
    var bolt11 = "{{ session["invoice"]["bolt11"] }}";
    var qrcode = new QRCode("bolt11qr", {text: bolt11, width: 350, height:350});
    document.getElementById("bolt11txt").value = bolt11;
  };
  </script>
  
  <b>Lightning invoice expires at<br/>
  {{ session["invoice"]["expires"] }}</b><br/>
  
{% endif %}

</div>
</body>
</html>
